<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Warranty Pass</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/1aa54d3876.js" crossorigin="anonymous"></script>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter:wght@400;800&display=swap" rel="stylesheet">
<!-- CSS -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

<!-- Navbar -->

<nav class="navbar navbar-expand-md bg-transparent">
  <div class="container-fluid">
    <a class="navbar-brand" href="#home_section"> <img class = "Logo"src="images/Logo Big.png" alt=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Nav bar Centered items Start-->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a type="submit" class="nav-link active" aria-current="page" href="#home_section">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#middle_section">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#footer_section">Contact Us</a>
            </li>
          </ul>

<!-- Nav Bar Centered items Finish-->

    </div>
  </div>
</nav>

<!-- Nav Bar Finish -->
<section id="home_section">

  <div class="Heading">
    <h1> Smart Warranty <br>Tracker </h1>
    <p> Do you know the warranty expiry date of your valuables </p>
    <form action="/register" method="get">
      <button class="btn btn-lg" type="submit" name="Register"> Register Now </button>
      </form>

      <form class="" action="/login" method="get">
        <button class="btn btn-dark btn-lg" type="submit" name="Login"> Login </button>
    </form>
  </div>

<img src="images/ps5.png" name="PS5" alt="">

  </section>

<section id="middle_section">

<div class="middle-container">
  <h2>Works Where You Do</h2>
  <p name="middlePara">Get suggestions from Grammarly while you write in desktop applications <br> and sites across the web—as you move between apps, <br> social media, documents, messages, and emails.</p>

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h3> Store your warranty details </h3>
        <p class = "lastPara"> Upload and keep your warranty details safe. </p>
      </div>
      <div class="vl"></div>
      <div class="col">
        <h3> Track warranty duration </h3>
        <p class = "lastPara"> Track how long is your product in the safe warranty period. </p>
      </div>
      <div class="vl"></div>
      <div class="col">
        <h3> Renew Warranty </h3>
        <p class = "lastPara"> We will notify you when your when your warranty is expiring. </p>
      </div>
    </div>
  </div>

<form class="" action="/register" method="get">
  <button class="btn btn-lg" type="submit" name="lb"> Get Warranty Pass. <span>It's free</span> </button>
</form>

</div>
</section>

<section id="footer_section">

<div class="bottom-container">
<div class="container">

    <div class="row">
      <div class="col fc">
        <img class="footer-logo" src="images/Footer Logo.png" alt="">
        <div class="">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>

      <div class="col fc contact">
        <h5> Contact Us </h5>
        <p class="lp"> coinkarunaratne@gmail.com <br>
        92, Lake panorama drive,<br>
      Henderson Valley,<br>
    Auckland,<br>
  New Zealand. <br>
+64 2040910864 </p>
      </div>

      <div class="col fc">
        <h5> Subscribe </h5>
        <p class="lp"> Enter you email to get notify about our products. </p>
        <form class="" action="index.html" method="post">
          <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fa-solid fa-envelope mailb"></i></button>
</div>
        </form>
      </div>
    </div>
  </div>

<hr>

  <div class="trademark">
    <a href="#">Cooky Policies</a>
    <a href="#">Privacy Settings</a>
    <p class="tradeP"> © 2022 All rights reserved. </p>
  </div>

</div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</body>

</html>
